<!DOCTYPE HTML>
<html>
<title>Report</title>
<th:block th:insert="~{./general_template::headFragment}"></th:block>
<body>

<!-- Header -->
<th:block th:insert="~{./general_template::headerFragment}"></th:block>

<div class="w3-row-padding w3-padding-64 w3-container w3-theme">
    <div class="w3-content">
        <h1 class="w3-xlarge w3-center">Отчёт о завершённых операциях.</h1>

        <table class="w3-table w3-striped w3-white">
            <tr>
                <th>#</th>
                <th>Worker</th>
                <th>Material</th>
                <th style="text-align:right">Date</th>
            </tr>
            <tr th:each="operation : ${operations}">
                <td th:text="${operation.getId()}">Id</td>
                <td th:text="${operation.getTechMap().getWorker().getName()} + ' ' + ${operation.getTechMap().getWorker().getLastName()}">
                    Name Last_name
                </td>
                <td th:text="${operation.getTechMap().getMaterial().getName()}">Material name</td>
                <td style="text-align:right"><i th:text="${operation.getDate()}">Tue Nov 09 10:38:28 MSK 2021</i></td>
            </tr>
        </table>
    </div>
</div>

<th:block th:insert="~{./general_template::footerFragment}"></th:block>
</body>

</html>
